<link rel="stylesheet" href="/style.css">
<div class="cont">
    <form action="/sesion" method="POST">
        <div class="ln">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" required class="inp" />
        </div>
        <br />
        <div class="ln">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" required class="inp" />
        </div>
        <br />
        <input type="submit" value="Login" class="btn">
        <br /><br />
        <a href="/">Menu</a>
    </form>
</div>
